@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;800&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond";
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #fbf7e9;
}

.header .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.header .nav-links li {
  font-size: 18px;
  color: #124a2c;
}

.button {
  height: 60px;
  padding: 6px 26px;
  font-size: 18px;
  line-height: 1.375rem;
  color: white;
  background-color: #5dc0fe;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(66, 173, 240);
}

.hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 125px 0 0 88px;
  background-color: #fbf7e9;
  gap: 36px;
}

.hero > * {
  width: 50%;
}

.hero_image {
  position: relative;
}

.hero_image img {
  width: 120%;
}

.hero_article {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 36px;
  padding-right: 40px;
  margin-top: 40px;
}

.hero_article h1 {
  font-size: 72px;
  font-weight: bolder;
  line-height: 4.5rem;
  color: #124a2c;
}

.hero_article > p {
  font-size: 21px;
  line-height: 1.8rem;
  color: #124a2c;
}

.hero_article > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero_article div p {
  font-size: 16px;
  color: #124a2c;
  text-align: center;
}

.section {
  padding: 80px 88px 0;
}

.center_article {
  width: 60%;
  margin: 0 auto;
}

.center_article h2 {
  font-size: 48px;
  color: #124a2c;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.center_article p {
  font-size: 20px;
  line-height: 2rem;
  text-align: center;
}

.features_grid {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.features_grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features_grid img {
  margin: 0 auto;
}

.features_grid h4 {
  font-size: 28px;
  color: #124a2c;
  margin-bottom: 8px;
  text-align: center;
}

.features_grid p {
  font-size: 18px;
  text-align: center;
}

.second_section {
  padding: 80px 144px;
  background-color: #fbf7e9;
  display: flex;
  gap: 150px;
}

.second_section > * {
  width: 40%;
}

.second_section_image_container {
  position: relative;
}

.second_section_image_container img {
  width: 100%;
  margin-top: 20px;
}

.second_section_article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.second_section_article h4 {
  font-size: 20px;
  color: #124a2c;
  line-height: 1.25rem;
  letter-spacing: 0.17rem;
  font-family: "Poppins";
  font-weight: 500;
}

.second_section ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style: none;
}

.second_section ul li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0.35;
  padding-left: 8px;
}

.second_section ul li:first-child {
  opacity: 1;
  border-left: 4px solid #124a2c;
  /* border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #124a2c; */
}

.second_section ul li:hover {
  opacity: 1;
  cursor: pointer;
}

.second_section ul li p {
  font-size: 20px;
  line-height: 1.5rem;
}

.second_section ul li p:first-child {
  font-size: 22px;
  font-family: "EB Garamond";
  font-weight: bold;
  color: #124a2c;
}

.how_it_works > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 65px 80px;
}

.how_it_works > div > * {
  width: 40%;
}

.how_it_works > div article img {
  width: 58px;
}

.how_it_works > div article h2 {
  font-size: 36px;
  line-height: 2rem;
  color: #124a2c;
}

.how_it_works > div article p {
  width: 75%;
  line-height: 2rem;
  color: black;
}
